<!-- footer start -->
<div class="container">
  <div class="row">
    <div class="col">
      <footer>
        <p class="text-muted text-center">© <span id="current-year"></span> <%= data.site.site %>. All rights reserved.</p>
        <p class='text-center text-muted'><small><%= link_to 'rss', '/blog/feed.rss', class: 'text-decoration-none' %></small></p>
      </footer>
    </div>
  </div>
</div>
<!-- footer end -->      
